$blueGradient: linear-gradient(180deg, #1d8bfc 0%, #15cfcf 100%);
$redGradient: linear-gradient(180deg, #f47070 0%, #f52828 100%);
$lightGradien: linear-gradient(180deg, #f1f9fc 0%, #dfe0e2 100%);
$lightBlue: #62a1eb;
$fontdark: #434343;
$fontGray: #959595;
$grayBox: rgba(0, 0, 0, 0.69);
